@font-face {
  font-family: 'lexiaregular';
  src: url('fonts/dalton_maag_-_lexia_bold_italic-webfont.eot');
  src: url('fonts/dalton_maag_-_lexia_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dalton_maag_-_lexia_bold_italic-webfont.woff') format('woff'), url('fonts/dalton_maag_-_lexia_bold_italic-webfont.ttf') format('truetype'), url('fonts/dalton_maag_-_lexia_bold_italic-webfont.svg#lexiabold_italic') format('svg');
  font-weight: 700;
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'lexiaregular';
  src: url('fonts/dalton_maag_-_lexia_bold-webfont.eot');
  src: url('fonts/dalton_maag_-_lexia_bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dalton_maag_-_lexia_bold-webfont.woff') format('woff'), url('fonts/dalton_maag_-_lexia_bold-webfont.ttf') format('truetype'), url('fonts/dalton_maag_-_lexia_bold-webfont.svg#lexiabold') format('svg');
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'lexiaregular';
  src: url('fonts/dalton_maag_-_lexia_italic-webfont.eot');
  src: url('fonts/dalton_maag_-_lexia_italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dalton_maag_-_lexia_italic-webfont.woff') format('woff'), url('fonts/dalton_maag_-_lexia_italic-webfont.ttf') format('truetype'), url('fonts/dalton_maag_-_lexia_italic-webfont.svg#lexiaitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'lexiaregular';
  src: url('fonts/dalton_maag_-_lexia-webfont.eot');
  src: url('fonts/dalton_maag_-_lexia-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dalton_maag_-_lexia-webfont.woff') format('woff'), url('fonts/dalton_maag_-_lexia-webfont.ttf') format('truetype'), url('fonts/dalton_maag_-_lexia-webfont.svg#lexiaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lexiaregular';
  src: url('fonts/dalton_maag_-_lexia_light-webfont.eot');
  src: url('fonts/dalton_maag_-_lexia_light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dalton_maag_-_lexia_light-webfont.woff') format('woff'), url('fonts/dalton_maag_-_lexia_light-webfont.ttf') format('truetype'), url('fonts/dalton_maag_-_lexia_light-webfont.svg#lexialight') format('svg');
  font-weight: lighter;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'denseregular';
  src: url('fonts/dense-regular-webfont.eot');
  src: url('fonts/dense-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dense-regular-webfont.woff') format('woff'), url('fonts/dense-regular-webfont.ttf') format('truetype'), url('fonts/dense-regular-webfont.svg#denseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'denseregular';
  src: url('fonts/dense-bold-webfont.eot');
  src: url('fonts/dense-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dense-bold-webfont.woff') format('woff'), url('fonts/dense-bold-webfont.ttf') format('truetype'), url('fonts/dense-bold-webfont.svg#densebold') format('svg');
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
}
* {
-webkit-font-smoothing: antialiased;
}

body{
	color: white;
}

a {
color: #e6717c;
text-decoration: none;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
-webkit-backface-visibility: hidden;
}

.donate-share a {
color: white;
}

.navbar {
height: 70px;
}

.navbar h1 {
line-height: 49px;
}

.headertype {
font-weight: lighter;
}

.navbar .navbar-brand {
padding: 0px;
margin-left: 0px;
}



.navbar a {
font-family: denseregular;
text-transform: uppercase;
}

.navbar-inverse .nav li {
height: 70px;
}

.navbar-inverse .nav li a {
font-size: 40px;
height: 70px;
padding: 10px 10px 10px;
padding-top: 25px;
}

.navbar-inverse .navbar-inner {
background-color: #333;
}

.navbar-inverse .nav .active > a {
background-color: #e6717c;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
line-height: 1.2em;
}

h1 {
text-transform: uppercase;
font-family: 'denseregular';
font-size: 60px;
line-height: 60px;
}

h3 {
font-family: denseregular;
text-transform: uppercase;
font-size: 60px;
font-weight: 700;
margin-bottom: 4px;
margin-top: 2px;
}

p {
font-size: 18px;
font-family: lexiaregular;
line-height: 1.722169;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}


#fund-share {
background-color: #cfa24f;
}

#fund-r-share {
background-color: #79a4cf;
}

#tap-share {
background-color: #cb6a6b;
}

#donate-share {
background-color: #8ab0b0;
}

.donate {
padding-top: 200px;
padding-bottom: 200px;
position: relative;
-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
background-image: url('../images/network_logo.png');
background-repeat: no-repeat;
background-position-y: 30%;
background-size: cover;
}

.blowout {
width: 100%;
}

.donate-share {
font-size: 33px;
border-radius: 10px;
border: 1px solid white;
float: left;
margin-right: 20px;
margin-bottom: 20px;
padding-bottom: 20px;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
}



.consumer-kind {
min-height: 230px;
padding: 10px;
background-color: #fcfbf7;
color: inherit;
border-radius: 10px;
}
.consumer-kind .consumer-kind-header {
padding: 10px;
padding-top: 5px;
margin-left: -10px;
padding-bottom: 0px;
margin-bottom: 10px;
width: 100%;
float: left;
}
.grad1 {
background: #5db9cd;
background: -moz-linear-gradient(45deg, #5db9cd 0%, #77b8ae 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #5db9cd), color-stop(100%, #77b8ae));
background: -webkit-linear-gradient(45deg, #5db9cd 0%, #77b8ae 100%);
background: -o-linear-gradient(45deg, #5db9cd 0%, #77b8ae 100%);
background: -ms-linear-gradient(45deg, #5db9cd 0%, #77b8ae 100%);
background: linear-gradient(45deg, #5db9cd 0%, #77b8ae 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5db9cd', endColorstr='#77b8ae', GradientType=1);
}
.grad2 {
background: #e6717c;
background: -moz-linear-gradient(45deg, #e6717c 0%, #bec340 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e6717c), color-stop(100%, #bec340));
background: -webkit-linear-gradient(45deg, #e6717c 0%, #bec340 100%);
background: -o-linear-gradient(45deg, #e6717c 0%, #bec340 100%);
background: -ms-linear-gradient(45deg, #e6717c 0%, #bec340 100%);
background: linear-gradient(45deg, #e6717c 0%, #bec340 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6717c', endColorstr='#bec340', GradientType=1);
}
.grad3 {
background: #bec340;
background: -moz-linear-gradient(45deg, #bec340 0%, #77b8ae 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #bec340), color-stop(100%, #77b8ae));
background: -webkit-linear-gradient(45deg, #bec340 0%, #77b8ae 100%);
background: -o-linear-gradient(45deg, #bec340 0%, #77b8ae 100%);
background: -ms-linear-gradient(45deg, #bec340 0%, #77b8ae 100%);
background: linear-gradient(45deg, #bec340 0%, #77b8ae 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bec340', endColorstr='#77b8ae', GradientType=1);
}

.consumer-kind .consumer-kind-header h1 {
font-size: 38px;
line-height: 40px;
text-align: center;
color:white;
}

.consumer-kind ul {
clear: both;
list-style: none;
text-align: center;
margin-left: 0px;
padding-left: 20px;
padding-right: 20px;
}
.consumer-kind ul li {
border-bottom: 1px solid #b2c8cd;
color: #363537;
padding-bottom: 10px;
padding-top: 10px;
}